/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Inter',sans-serif;

    background:#0D1117;

    color:#F0F6FC;

}

/* Navbar */

.navbar{

    width:90%;

    margin:auto;

    height:80px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.logo{

    font-size:28px;

    font-weight:700;

    color:#58A6FF;

}

.nav-links{

    display:flex;

    list-style:none;

    gap:35px;

}

.nav-links a{

    color:#F0F6FC;

    text-decoration:none;

    transition:.3s;

}

.nav-links a:hover{

    color:#58A6FF;

}

/* Hero */

.hero{

    min-height:90vh;

    display:flex;

    align-items:center;

    justify-content:center;

    text-align:center;

    width:90%;

    margin:auto;

}

.hero h1{

    font-size:4rem;

    margin-bottom:15px;

}

.hero h1 span{

    color:#58A6FF;

}

.hero h2{

    font-size:2rem;

    color:#8B949E;

    margin-bottom:20px;

}

.hero p{

    max-width:650px;

    margin:auto;

    line-height:1.8;

    font-size:1.1rem;

}

.buttons{

    margin-top:40px;

}

.btn-primary,
.btn-secondary{

    display:inline-block;

    padding:14px 30px;

    margin:10px;

    border-radius:8px;

    text-decoration:none;

    transition:.3s;

}

.btn-primary{

    background:#58A6FF;

    color:#fff;

}

.btn-primary:hover{

    transform:translateY(-3px);

}

.btn-secondary{

    border:1px solid #58A6FF;

    color:#58A6FF;

}

.btn-secondary:hover{

    background:#58A6FF;

    color:white;

}
